---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: "Montserrat", Monospace, Helvetica, Arial, sans-serif !default;

$text-color:       #494949 !default;
$background-color: #ffffff !default;
// $brand-color:      #1e90ff !default;
$brand-color:      #b22222 !default;

@import "minima";

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none; }
  a:visited {
    color: $brand-color; }
  a:hover {
    color: lighten($brand-color, 15%);
    text-decoration: none; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: none; }

h2 {
  margin-bottom: 0px; }

/**
 * Posts
 */
.post-link {
  display: inline;
  @include relative-font-size(1.1);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 0px;
  }
}

.post-tab {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.5);
}

/**
 * Site
 */
.site-header {
  background-color: $brand-color;
}

.site-nav .page-link {
  letter-spacing: 1.5px;
  color: $background-color;
}

.site-title {
  letter-spacing: 1.5px;

  &,
  &:visited {
    color: $background-color;
  }
}