---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: "Montserrat", Helvetica, Arial, sans-serif !default;

$text-color:       #494949 !default;
// $background-color: #fdfdfd !default;
$background-color: #ffffff !default;
// $brand-color:      #2a7ae2 !default;
$brand-color:      #1e90ff !default;
// $brand-color:      #b22222 !default;

@import "minima";

/*
body {
  background-color: pink;
}
*/

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none; }
  a:visited {
    color: $brand-color; }
  a:hover {
    color: darken($brand-color, 15%);
    text-decoration: none; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: none; }

.site-title {
  letter-spacing: 1.5px;
}

.site-nav .page-link {
    letter-spacing: 1.5px; }