---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.song | escape }} - {{ page.artist | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div class="post-tab">
      {% if page.link %}
        <a href="{{ page.link }}" target="_blank">View Tab for {{ page.song }} - {{ page.artist }}</a><br>
        <span class="post-meta">{{ page.link }}</span>
      {% else %}
        <a href="/files/{{ page.song | replace:' ','_' }}__{{ page.artist | replace:' ','_' }}.pdf" target="_blank">View Tab for {{ page.song }} - {{ page.artist }}</a><br><br>
        <object data="/files/{{ page.song | replace:' ','_' }}__{{ page.artist | replace:' ','_' }}.pdf" type="application/pdf" width="100%" height="1010px">
          <embed src="/files/{{ page.song | replace:' ','_' }}__{{ page.artist | replace:' ','_' }}.pdf" type="application/pdf" width="100%" height="1010px" />
        </object>
      {% endif %}
    </div>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
